body {
    margin: 0;
    background-color: whitesmoke;
}

footer {
    color: white;
    background-color: gray;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

h2 {
    font-family: Calibri sans-serif;
    font-size: 20px;
    font-weight: bold;
}

footer p {
    text-align: center;
    padding-bottom: 0;
}
#main-name {
    font-weight: bold;
    font-size: 80px;
    text-align: center;
}


#intro-text {
    color: gray;
    font-size: 20px;
    text-align: center;
}

form {
    padding: 20px;
}

.para1 h2 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.para1 {
    background-color: gray;
    padding-bottom: 20px;
    padding-top: 0;
}

.img{
    padding-bottom: 30px;
}