body {
    margin: 0;
    background-color: whitesmoke;
    font-family: "Helvetica Neue", "Arial", sans-serif;;
}

footer {
    color: white;
    background-color: gray;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: black 1rem;
}

#about-me {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

footer p {
    text-align: center;
    padding-bottom: 0;
}
#main-name {
    font-weight: bold;
    font-size: 80px;
    text-align: center;
}

#contact-button {
    padding-bottom: 10px;
}

#skills {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

#intro-text {
    color: gray;
    font-size: 30px;
    text-align: center;
}

form {
    padding: 20px;
}

.para1 {
    background-color: gray;
    border: black 1rem;
    padding-bottom: 20px;
    padding-top: 0;
}

li {
    color: gray;
    padding-bottom: 10px;
}

#about-text {
    color: white;
    border: black;
}